<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page <small>views/pages/home.html.erb</small></h1>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
      <h3>
        h3. Lorem ipsum dolor sit amet.
      </h3>
    </div>
    <div class="col-md-4 column">
      <h3>
        h3. Lorem ipsum dolor sit amet.
      </h3>
    </div>
    <div class="col-md-4 column">
      <h3>
        h3. Lorem ipsum dolor sit amet.
      </h3>
    </div>
  </div>
</div>