.favourite-source {
  width: 10%;
}

.source-icon {
  max-width: 100px;
}

td {
  max-width: 150px;
}

.favourite-title {
  margin-left: 75px;
}

.no-favourites {
  font-style: italic;
  max-width: 100%;
}