.panel-body {
  max-height: 1000px;
  overflow-y: scroll;
}

.icon {
  max-width: 20%;
  display: inline-block;
}

.navbar-default {
  background-color: #ff6666;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.container {
  width: 90%;
}

.notice {
  position: absolute;
}